html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Black";
  height: 100vh;
  background: rgb(231, 231, 231);
}

.wrapper {
  padding: 1em;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  margin-right: 2em;
}

h1 {
  font-size: 3em;
  margin-top: 1.5em;
}

.cta {
  display: block;
  padding: 2em 2em 2em 0;
  font-size: 1.4em;
}

img {
  width: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding: 1em;
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  background: white;
  width: 20%;
}

main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  main {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    position: relative;
    z-index: 3;
  }

  .wrapper {
    max-width: 650px;
    margin: 0;
  }

  // .left {
  //   padding-right: 2em;
  //   display: block;
  // }

  img {
    width: 600px;
    padding: 1em;
  }

  .img2 {
    display: none;
  }

  .img3 {
    display: none;
  }

  .cta {
    padding: 1em;
    background: white;
    position: block;
    // z-index: 21 !important;
    text-align: center;
    animation-fill-mode: initial;
  }
}

@media (min-width: 1100px) {
  .cta {
    padding: 1em;
    background: white;
    position: absolute;
    // z-index: 21 !important;
    text-align: center;
    animation-fill-mode: initial;
  }
  .left {
    padding-right: 10em;
  }

  .wrapper {
    max-width: 2400px;
    margin: 0;
  }

  img {
    width: 400px;
    height: auto;
    padding: 5px;
  }

  .img2 {
    display: block;
  }

  .img3 {
    display: none;
  }
}
@media (min-width: 1500px) {
  img {
    width: 400px;
    height: auto;
    padding: 5px;
  }
  .img2 {
    display: block;
  }

  .img3 {
    display: block;
  }
}
@media (min-width: 1850px) {
  img {
    width: 500px;
    height: auto;
    padding: 5px;
  }
  .img2 {
    display: block;
  }

  .img3 {
    display: block;
  }
}
