html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Black";
  height: 100vh;
  background: rgb(231, 231, 231);
}

.wrapper {
  padding: 1em;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  margin-right: 2em;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

text {
  font-size: 1.5em;
}

.cta {
  display: flex;
  position: absolute;
  padding: 0.5em;
  font-size: 1.2em;
  background: white;
  margin-top: 2em;
}


img {
  width: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding: 1em;
}

ul.transition {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  transform: scaleY(0);
  background: white;
  width: 20%;
}

main {
  display: flex;
  flex-direction: column;
}

.left {
  margin-bottom: 5em;
}

@media (min-width: 1100px) {
  main {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    position: block;
    z-index: 3;
  }

  .wrapper {
    max-width: 1400px;
    margin: 0;
  }

  .left {
    padding-right: 1em;
    width: 500px;
    display: block;
  }

  img {
    // height : auto;
    // height: auto;
    width: 800px;
    object-fit: contain;
    // padding: 1em;
    // padding-top: 0;
    // margin-top: 0;
  }

  .img2 {
    display: none;
  }

  .img3 {
    display: none;
  }

  .cta {
    padding: 1em;
    margin: 2em 5em 5em 0;
    background: white;
    position: block;
    // z-index: 21 !important;
    text-align: center;
    animation-fill-mode: initial;
    // padding: 2em 2em 2em 0;

  }
}

@media (min-width: 1400px) {
  .cta {
    padding: 1em;
    background: white;
    position: absolute;
    // z-index: 21 !important;
    text-align: center;
    animation-fill-mode: initial;
  }
  // .left {
  //   padding-right: 10em;
  // }

  .wrapper {
    max-width: 1650px;
    margin: 0;
  }

  img {
    width: auto;
    // height: auto;
    max-width: 500px;
    object-fit: contain;
    // padding: 5px;
  }

  .img2 {
    display: block;
    width: auto;
    // height: auto;
    max-width: 500px;
    object-fit: contain;
    padding: 5px;

  }

  .img3 {
    display: none;
  }
}

@media (min-width: 1650px) {
  .wrapper {
    max-width: 1900px;
    margin: 0;
  }
  img {
    width: 450px;
    height: auto;
    padding: 5px;
  }
  .img2 {
    display: block;
    width: auto;
    height: auto;
    max-width: 450px;
    object-fit: contain;
    padding: 5px;

  }

  .img3 {
    display: block;
    width: auto;
    height: auto;
    max-width: 450px;
    object-fit: contain;
    padding: 5px;

  }
}

@media (min-width: 1900px) {
  .wrapper {
    max-width: 2200px;
    margin: 0;
  }
  img {
    width: 450px;
    height: auto;
    padding: 5px;
  }
  .img2 {
    display: block;
  }

  .img3 {
    display: block;
  }
}
