html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Black";
  height: 100vh;
  background: #e7e7e7;
}

.wrapper {
  padding: 1em;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  margin-right: 2em;
}

h1 {
  font-size: 3em;
  margin-top: 0;
}

text {
  font-size: 1.5em;
}

.cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  padding: 0.5em;
  font-size: 1.2em;
  background: white;
  margin-top: 2em;
}

img {
  width: 90%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  padding: 1em;
}

ul.transition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
}

ul.transition li {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background: white;
  width: 20%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left {
  margin-bottom: 5em;
}

@media (min-width: 1000px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 3em;
    position: block;
    z-index: 3;
  }
  .wrapper {
    max-width: 1400px;
    margin: 0;
  }
  .left {
    padding-right: 1em;
    width: 500px;
    display: block;
  }
  img {
    width: 800px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .img2 {
    display: none;
  }
  .img3 {
    display: none;
  }
  .cta {
    padding: 1em;
    margin: 2em 5em 5em 0;
    background: white;
    position: block;
    text-align: center;
    -webkit-animation-fill-mode: initial;
            animation-fill-mode: initial;
  }
}

@media (min-width: 1400px) {
  .cta {
    padding: 1em;
    background: white;
    position: absolute;
    text-align: center;
    -webkit-animation-fill-mode: initial;
            animation-fill-mode: initial;
  }
  .wrapper {
    max-width: 1650px;
    margin: 0;
  }
  img {
    width: auto;
    max-width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .img2 {
    display: block;
    width: auto;
    max-width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 5px;
  }
  .img3 {
    display: none;
  }
}

@media (min-width: 1650px) {
  .wrapper {
    max-width: 1850px;
    margin: 0;
  }
  img {
    width: 500px;
    height: auto;
    padding: 5px;
  }
  .img2 {
    display: block;
    width: auto;
    height: auto;
    max-width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 5px;
  }
  .img2 {
    display: block;
    width: auto;
    height: auto;
    max-width: 500px;
    -o-object-fit: contain;
       object-fit: contain;
    padding: 5px;
  }
}

@media (min-width: 1900px) {
  .wrapper {
    max-width: 2200px;
    margin: 0;
  }
  img {
    width: 500px;
    height: auto;
    padding: 5px;
  }
  .img2 {
    display: block;
  }
  .img3 {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */